.right-menu{
    width: 280px;
    height: 100%;
    background-color: #F6F7F9;
    border-top: thin solid #E3E5E9;
}

.switch-menu{
    display: flex;
    height: 48px;
    width: 100%;
    border-bottom:2px solid #E3E5E9;
}

/*Chỉnh sửa nút edit, effect, event*/
.btn-edit-wrap,.btn-effect-wrap,.btn-event-wrap{
    width: 33%;
    height: 100%;
    padding-top: 6px;
}

.btn-edit, .btn-effect,.btn-event{
    width: 75%;
    height: 100%;
    margin: auto;
}

.btn-edit-icon{
    margin: auto;
    height: 20px;
    width: 20px;
    background-image: url("../img/common/Icon-Edit-Active.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat; 
}

.btn-effect-icon{
    margin: auto;
    height: 20px;
    width: 20px;
    background-image: url("../img/common/Icon-Effect-Inactive.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat; 
}

.btn-event-icon{
    margin: auto;
    height: 20px;
    width: 20px;
    background-image: url("../img/common/Icon-Event-Inactive.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.btn-edit-content, .btn-effect-content,.btn-event-content{
    font-size: 8px;
    margin: 3px 0;
    text-align: center;
}


/*chỉnh sửa cho style content, layer content, event content*/
.style-content, .effect-content, .event-content{
    width: 100%;
    height: calc(100% - 48px);
}
.event-content,.effect-content{
    padding: 16px;
}

/**
style manager: tat thanh cuon mac dinh
*/

.style-content{
    overflow-y: scroll;
}

.style-content::-webkit-scrollbar {
    display: none;
}

/*Căn chỉnh vị trí cho thanh chọn màu*/
/* .sp-container{
    left: calc(100vw - 300px) !important;
} */


/*màu sắc cho các label*/
.label{
    color: #404557;
    font-size: 12px;
}

/*
*Chinh thuoc tinh cho cac option
*/
.right-menu .option-wrapper{
    width: 100%;
    height: 32px;
    margin: 10px 0;
    display: flex;
}

.option-label{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 10px;
}

.option-field{
    width: 65%;
    height: 100%;
}

.option-field input{
    width: 100%;
    border: none;
    background-color: unset;
    border-bottom: thin solid #DEE1E5;
    text-indent: 10px;
}

.option-field input:focus{
    outline: none;
}



/*Noi dung cac su kien*/
.moveSection-content,.openLink-content,.count-content{
    width: 100%;
}

/*mo lien ket phan su kien*/
.url{
    width: 100%;
    height: 32px;
    background-color: unset;
    border: none;
    border-bottom: thin solid #DEE1E5;
    margin-bottom: 10px;
}

.openLink-content input:focus{
    outline: none;
}

/*checkbox phan su kien*/
.checkbox{
    display: flex;
}

.checkbox input{
    margin: auto 0;
    margin-right: 5px;
}

/*kich thuoc chu mac dinh cua input*/
input{
    font-size: 12px;
}