@import "progressbar.css";

.style-content::-webkit-scrollbar {
    display: none;
}

.style-content{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/*input tyoe number*/
.style-number.option-field1{
    width: 40px;
    margin-left: 20px;
}

.style-number.option-field1 input{
    text-indent: 0;
    width: 75%;
}

/*can chinh cac nut align*/

.align-wrapper{
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #E3E5E9; ;
}

.align-wrapper .align-center-horizental{
    background-image: url("../img/style-manager/Icon-Align-Center-Horizental.svg");
    background-size: 16px 12px;
    background-position: center;
    background-repeat: no-repeat;
}

.align-wrapper .align-center-vertical{
    background-image: url("../img/style-manager/Icon-Align-Center-Vertical.svg");
    background-size: 12px 16px ;
    background-position: center;
    background-repeat: no-repeat;
}

.align-wrapper .align-left{
    background-image: url("../img/style-manager/Icon-Align-Left.svg");
    background-size: 14px 16px;
    background-position: center;
    background-repeat: no-repeat;
}

.align-wrapper .align-right{
    background-image: url("../img/style-manager/Icon-Align-Right.svg");
    background-size: 14px 16px;
    background-position: center;
    background-repeat: no-repeat;
}

.align-wrapper .align-top{
    background-image: url("../img/style-manager/Icon-Align-Top.svg");
    background-size: 16px 14px;
    background-position: center;
    background-repeat: no-repeat;
}

.align-wrapper .align-bottom{
    background-image: url("../img/style-manager/Icon-Align-Bottom.svg");
    background-size: 16px 14px;
    background-position: center;
    background-repeat: no-repeat;
}
/*drop down chon state*/

.state{
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #E3E5E9; ;
    padding: 11px 16px;
    margin: auto;
}

.state .state-label{
    font-size: 8px;
}

/*thanh progress opacity*/
.opacity-wrapper{
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #E3E5E9;
    padding: 14px 16px;
    display: table-cell;
}

.opacity-wrapper .opacity{
    width: 100%;
    display: flex;
}

.opacity-wrapper .opacity .label{
    width: 25%;
    font-size: 12px;
    margin: auto;
}

.opacity-wrapper .opacity > input{
    width: calc(75% - 45px);
    padding:0 10px;
}

.opacity-wrapper .opacity .option-field{
    width: 45px;
    text-indent: 0;
}

.opacity-wrapper .opacity .option-field input{
    font-size: 12px;
    text-indent: 5px;
}

/*Thanh xoay*/


.swing{
    display: flex;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #E3E5E9;
    padding: 14px 16px;
    align-items: center;
}

/*margin và padding*/
.margin-padding{
    height: 210px;
    width: 100%;
    padding: 14px 16px;
    border-bottom: 2px solid #E3E5E9;
}

.margin,.padding{
    height: 50%;
    width: 100%;
    display: flex;
}

.margin-padding .col1{
    flex-grow: 1;
}

.margin-padding .col2{
    flex-grow: 4;
    display: flex;
    flex-direction: column;
}

.margin-padding .col2 .row{
    height: calc(100% / 3);
    width: 100%;
}

.margin-padding .col2 .row{
    display: flex;
}

.margin-padding .col2 .row .col{
    flex-grow: 1;
    padding: 0;
}

.padding .col2 .row:nth-child(2) .col:nth-child(2){
    background-image: url("../img/style-manager/Icon-Padding.svg");
    background-size: 46px 21px ;
    background-position: right;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-left: 4px;
}

.margin .col2 .row:nth-child(2) .col:nth-child(2){
    background-image: url("../img/style-manager/Icon-Border.svg");
    background-size: 46px 21px ;
    background-position: right;
    background-repeat: no-repeat;
    padding-top: 40px;
}